# Angular specific
node_modules/
dist/
.angular/
.tmp/

# ASP.NET Core specific
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
.vsconfig

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env
*.env.*

# Compiled output
wwwroot/

# OS files
.DS_Store
Thumbs.db

# Others
package-lock.json
